In [1]:
%matplotlib inline
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymongo

In [2]:
client = pymongo.MongoClient('172.16.100.54',27017)
ltc_data= client['ltc_collect']

In [4]:
wamp_history = ltc_data['alarm_history_data']
cursor = wamp_history.find()
index=["baseTopic" , "dst" , "src" , "seq" , "SNR" , "RSSIpkt" , "BW" , "CR" , "SF" , "sensor_id" , "version", "command_id", "data_length" , "data" , "mote_lon" , "mote_lat" , "time" ]
result = pd.DataFrame(list(cursor),columns=index)
result.to_csv('ltc_v1.0_7_25.csv',encoding='utf8')
result.head()

,baseTopic,dst,src,seq,SNR,RSSIpkt,BW,CR,SF,sensor_id,version,command_id,data_length,data,mote_lon,mote_lat,time
0,NaN,1,4,1,7.0,-65.0,125.0,4/5,12.0,2,1,9,1,",",0,0,2017-07-25 07:43:25
1,NaN,1,4,2,8.0,-71.0,125.0,4/5,12.0,2,1,9,1,",",0,0,2017-07-25 07:43:38
2,NaN,1,4,3,7.0,-68.0,125.0,4/5,12.0,2,1,9,1,",",0,0,2017-07-25 07:43:45
3,NaN,1,4,4,8.0,-74.0,125.0,4/5,12.0,2,1,9,1,",",0,0,2017-07-25 07:44:44
4,NaN,1,3,0,9.0,-67.0,125.0,4/5,12.0,2,1,9,1,",",0,0,2017-07-25 07:46:47

In [5]:
result.count()

baseTopic        0
dst            431
src            431
seq            431
SNR            431
RSSIpkt        431
BW             431
CR             431
SF             431
sensor_id      431
version        431
command_id     431
data_length    431
data           431
mote_lon       431
mote_lat       431
time           431
dtype: int64